/* Universal Code */
html {
  font-family: sans-serif;
  color: #303030;
  font-size: 16px;
}

.mobile {
  display: none;
}

.flex {
  display: flex;
}

.flex .mobile {
  display: none;
}

h1 {
  font-size: 1rem;

}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

a {
  color: #303030;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.stack {
  flex-direction: column;
  width: 40%;
}

.sm-box {
  align-items: center;
}

.sm-box .img {
  width: 35%;
  height: auto;
  margin: 16px;
}

.sm-box .info {
  width: 65%;
  margin: 0;
}

.sm-box h3, .sm-box p {
  margin-bottom: 8px;
}

/* Header Code*/
header {
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.logo {
  margin-left: 24px;
  color: #696969;
  align-items: center;
}

.logo img, .logo h1 {
  display: inline;
}

.logo span {
  font-weight: bold;
  text-align: left;
  color: #303030;
}

nav {
  margin-right: 24px;
  text-align: right;
}

nav span {
  margin-left: 16px;
}

/* Main Code */
main .box:nth-child(2n+1) {
  background-color: #dcdcdc;
}

/* First Box Code */
#boxone {
  align-items: center;
}

#boxone .img {
  width: 60%;
  margin: 32px 24px;
}

#boxone .info {
  width: 40%;
}

#boxone h2 {
  line-height: 1.2;
  width: 80%;
}

#boxone h3 {
  line-height: 1.4;
  width: 80%;
}

#boxone .info a {
  display: block;
  background-color: #303030;
  color: #ffffff;
  width: 80%;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 18px;
}

/* Second Box Code */
#boxtwo .big-info {
  width: 60%;
  margin: 32px 24px;
  align-items: center;
}

#boxtwo .big-info img {
  margin-bottom: 32px;
}

#boxtwo .big-info h2 {
  margin-bottom: 24px;
}

#boxtwo .author {
  margin: 32px 0;
  font-size: .75rem;
}

#boxtwo .stack {
  border-left: 1px solid #dcdcdc;
}

#boxtwo .sm-box {
  border-bottom: 1px solid #dcdcdc;
}

#boxtwo .sm-box:last-child {
  background-color: #dcdcdc;
}

#boxtwo .sm-box a {
  color: #0000ff;
}

/* Third Box Code */
/* At this point I realized the wireframe's pixel values are incorrect compared
to their visual appearance */
#boxthree {
  flex-direction: column;
  border-top: 1px solid #dcdcdc;
}

#boxthree h2 {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

#boxthree .row {
  margin-bottom: 16px;
  margin-left: 64px;
  margin-right: 64px;
  justify-content: space-between;
}

#boxthree .imgbox {
  margin: 0 8px;
  width: 100%;
  background-color: #ffffff;
}

#boxthree .imgbox h3, #boxthree .imgbox p {
  padding-left: 16px;
}

#boxthree .imgbox h3 {
  top: 16px;
}

#boxthree .imgbox p {
  margin-top: 8px;
}

#boxthree .imgbox p:last-child {
  margin-bottom: 24px;
}

/* Fourth Box Code */
#boxfour {
  border-top: 1px solid #dcdcdc;
}
#boxfour h2 {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

#boxfour .info {
  width: 60%;
  margin-left: 24px;
  margin-right: 24px;
}

#boxfour video {
  margin-bottom: 24px;
}

#boxfour .info h3 {
  margin-bottom: 8px;
}

#boxfour .quote {
  margin-bottom: 32px;
}

#boxfour .sm-box:first-child {
  background-color: #dcdcdc;
}

#boxfour .sm-box .info {
  margin: 0;
}

/* Footer Code */
footer {
  border-top: 1px solid #dcdcdc;
  font-size: .75rem;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 32px;
}

footer .copyright {
  margin-left: 24px;
}

/* Media Queries */
@media only screen and (max-width: 480px) {
  /* Global Styles */
  .desktop {
    display: none;
  }

  .mobile {
    display: inline;
  }

  .flex .mobile {
    display: inline;
  }

  .stack {
    width: 100%;
  }

  .sm-box .img {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
  }

  .sm-box .info {
    width: 100%;
    margin-bottom: 64px;
  }

  .sm-box h3, .sm-box p, .sm-box a {
    margin-left: 32px;
  }

  .sm-box .info:last-child {
    margin-bottom: 32px;
  }

  /* Header */
  header {
    justify-content: space-around;
  }

  .logo {
    margin: 0;
  }

  /* Box One */
  #boxone {
    flex-direction: column;
  }

  #boxone .img {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 32px;
  }

  #boxone .info {
    width: auto;
    padding-left: 16px;
    padding-right: 16px;
  }

  #boxone h2 {
    width: 100%;
    margin-bottom: 32px;
  }

  #boxone h3 {
    width: 100%;
  }

  #boxone .info a {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 32px;
  }

  /* Box Two */
  #boxtwo .stack {
    border: none;
  }

  #boxtwo .sm-box {
    flex-direction: column;
    border: none
  }

  #boxtwo .sm-box:last-child {
    background-color: #ffffff;
  }

  /* Box Three */
  #boxthree {
    background-color: #ffffff;
    padding-bottom: 32px;
  }

  #boxthree h2 {
    margin-bottom: 16px;
  }

  #boxthree .row {
    flex-direction: column;
    margin-bottom: 0px;
    margin-left: 16px;
    margin-right: 16px;
  }

  #boxthree .imgbox {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    background-color: #dcdcdc;
  }

  /* Box Four */
  #boxfour h2 {
    margin-bottom: 16px;
  }

  #boxfour .info {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  #boxfour video {
    margin-bottom: 24px;
  }

  /* Footer */
  footer {
    border: none;
    padding-bottom: 16px;
  }
}
